.auth-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  background: linear-gradient(135deg, #0f9d58, #34a853);
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999; /* forces it above App */
}

.auth-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Beautiful green gradient full width */
  background: linear-gradient(135deg, #0f9d58, #34a853);
}

.auth-box {
  width: 380px;
  padding: 40px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(12px);

  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.15);
}

.auth-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
  color: #1a1a1a;
}

.auth-subtitle {
  text-align: center;
  margin-bottom: 25px;
  color: #666;
}

.auth-input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  font-size: 15px;
  outline: none;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  background: #0f9d58;
  border: none;
  color: white;
  font-size: 17px;
  border-radius: 10px;
  margin-top: 5px;
  cursor: pointer;
  font-weight: 600;
}

.auth-btn:hover {
  background: #0b7c45;
}

.auth-footer {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color:black;
}

.auth-footer a {
  font-weight: 600;
  color:black;
}
.auth-error {
  width: 100%;
  padding: 10px;
  background: #ffebee;
  color: #c62828;
  border: 1px solid #ffcdd2;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 600;
}
