/* NAVBAR WRAPPER */
.uh-nav {
  width: 100%;
  padding: 15px 0;
  background: #0d7f49;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 14px rgba(0,0,0,0.18);
}

/* INNER */
.uh-nav-inner {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LEFT */
.uh-nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.uh-nav-logo {
  font-size: 32px;
}

.uh-nav-left h2 {
  color: white;
  font-size: 26px;
  font-weight: 700;
}

/* RIGHT SIDE */
.uh-nav-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.uh-toggle {
  background: white;
  border: none;
  border-radius: 10px;
  padding: 8px 18px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  color: #0d7f49;
  transition: 0.25s;
}

.uh-toggle:hover {
  background: #e7ffe8;
}

.uh-logout-nav {
  background: #ffffff;
  padding: 8px 20px;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  color: #0d7f49;
  transition: 0.25s;
}

.uh-logout-nav:hover {
  background: #dfffe5;
}
